@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");


:root {
    --main-text: hsl(11deg 27% 16%);
    --second-text: #d99c55;
    --third-text: #a6a8a8;
    --main-background: #fffbf2;
    --button-color: #da9f5b;
    --main-font: 'Prosto One', cursive;
    --second-font: 'Roboto', sans-serif;
    --third-font: 'Sofia Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    /* position: relative; */
    background-color: var(--main-background);
    color: var(--text-main);
    font-family: var(--second-font);
    /* height: 15000px; */
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.clearfix {
    clear: both;
}

/**************End global***************** */


/* @media (max-width: 845px) {
    width: 100%;
} */

.intro {
    background-image: url(../images/carousel-1.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 5px;
    position: relative;
}

.topOverlay {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #79554896;
}

.introContent {
    display: flex;
    padding-left: 5%;
    padding-top: 2%;
    z-index: 1;
    position: relative;
}

.koppee {
    color: white;
    font-family: var(--third-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
}



/* @media screen (min-width: 390px) (max-width: 844px) {
    font-size: 0.5rem;
} */

.headIcons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.home {
    color: var(--second-text);

}


.home,
.about,
.service,
.menu,
.pages,
.contact {
    color: white;
    font-family: var(--third-font);
    text-transform: capitalize;
    margin: 2%;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-top: 10%;
}

.serv {
    color: var(--button-color);
    text-transform: capitalize;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1%;
}

.coffee,
.date {
    color: white;
}

.coffee {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.date {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1%;
}


.line {
    border-left: 3px solid var(--second-text);
    height: 8%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    margin-top: 5%;
}

section.outlook {
    padding-bottom: 10%;
}

.aboutUs {
    color: var(--second-text);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.2rem;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    padding-top: 10%;
}

.startDate {
    color: var(--main-text);
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}


.story,
.vision {
    width: 40%;
}


.ourStory,
.ourVision {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    padding-top: 25%;
    padding-bottom: 10%;
}

/* img {
    border-style: none;
    width: 50%;
    height: 10%;
} */

.storyDesc {
    color: var(--main-text);
    font-weight: 600;
    font-size: 1.1rem;
    padding-bottom: 10%;
}

.description,
.visionDesc {
    color: var(--third-text);
    font-size: 1.1rem;
}

.more {
    border: 2px solid var(--main-text);
    text-align: center;
    width: 40%;
    height: 6%;
    display: flex;
    background-color: var(--main-text);
    color: white;
    text-transform: capitalize;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 10%;
}


li {
    color: var(--main-text);
    text-transform: capitalize;
    font-weight: 600;
    list-style-type: none;
    margin-left: -15%;
}

.moreRight {
    border: 2px solid var(--button-color);
    text-align: center;
    width: 40%;
    height: 6%;
    display: flex;
    background-color: var(--button-color);
    color: var(--main-text);
    text-transform: capitalize;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20%;
}


.headBeans {
    display: flex;
    height: 1%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10%;
}

.ourServices {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button-color);
}

.beans {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--main-text);
}

section.inlook {
    margin-top: 5%;
}

.quart {
    display: flex;
    margin-bottom: 10%;
    margin-right: 10%;
}

.quart img {
    width: 50%;
}

.patch {
    background-color: #d99c55;
    padding: 5% 5%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.firstQuart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    margin-left: 7%;
}


.title {
    color: var(--main-text);
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 2%;
}

/* .discounto::before {
    content: "$ 5";
    position: absolute;
    font-weight: bold;
    width: 10%;
    top: 2%;
    left: -50px;
    border-radius: 50%;
    color: var(--button-color);
    background-color: var(--button-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */


.discounto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3%;
}

.firstQuart {
    display: flex;
    justify-content: center;
}

/* .sectionDesco::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #79554896;
} */

.discount {
    background-image: url(../images/bg.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.off {
    color: var(--second-text);
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}

.sundayOff {
    color: white;
    font-size: 1.7rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 3%;
}

.addInfo {
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
    text-align: center;
}

.box {
    height: 7%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.email {
    border: 2px solid transparent;
    background-color: white;
    width: 12%;
}

button {
    text-transform: capitalize;
    border: 2px solid var(--button-color);
    background-color: var(--button-color);
    color: var(--main-text);
    text-align: center;
}

button,
input {
    overflow: visible;
    padding-left: 1%;
    border: 4px solid transparent;
}

.priceIntro {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.price {
    padding-top: 30%;
    color: var(--second-text);
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.competitive {
    color: var(--main-text);
    text-align: center;
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 5%;
}

.variety {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5% 10%;
    margin-bottom: 10%;
    /* margin-left: 10%; */
}

.item {
    padding: 4%;
    display: flex;
}

.itemCont {
    display: flex;
}

.hot,
.cold {
    color: var(--main-text);
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 7%;
}

.sample {
    width: 20%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.thirtyOff {
    background-image: url(../images/bg.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
}


.leftSide {
    text-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
    margin-top: 10%;
}

ul {
    padding-top: 5%;
}

li.side {
    color: white;
}

.addInfo.offDisc {
    margin-top: 5%;
    text-align: left;
    width: 70%;
    font-size: 1.2rem;
}

.table {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-start;
    align-items: stretch;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 5%;
}

.book {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin: 10%;
}

.data,
.bookNow {
    border: 2px solid var(--second-text);
    margin: 3%;
    padding: 2%;
    text-transform: capitalize;
    background-color: transparent;
}

.bookNow {
    background-color: var(--button-color);
    text-align: center;
    color: var(--main-text);
    font-weight: 600;
}

.test {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.testimonial {
    text-align: center;
    font-size: larger;
    color: var(--second-text);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
}

.clients {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    padding-top: 2%;
}

.reviews {
    display: flex;
    padding: 10%;
}

img.client {
    width: 20%;
    height: 30%;
}

.clientName {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    padding: 3%;
}

.proffession {
    font-size: .9rem;
    text-transform: capitalize;
    font-style: italic;
    color: #666868;
}

.sed {
    width: 85%;
    word-spacing: 3px;
    color: #666868;
}

.coffeeDrop {
    width: 40%;
}

.bottom {
    background-image: url(../images/bg.jpg);
}

.upperBottom {
    display: flex;
    align-items: baseline;
}

.contactTools {
    width: 20%;
    margin: 5%;
}

.getIn,
.followUs,
.open,
.newsletter {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 12%;
}

.follow {
    width: 15%;
    margin: 6%;
}

.hours {
    width: 20%;
    margin: 4%;
}

.tool {
    color: white;
    padding: 2%;
}

.news {
    margin: 6%;
    width: 15%;
}

span.media {
    color: white;
    border: 1px white solid;
    margin: 1%;
    padding: 5%;
}

.info {
    color: white;
    font-size: .8rem;
    padding-bottom: 20%;
}

.openTime {
    color: white;
    text-transform: uppercase;
}

hr {
    border: 0.3px var(--button-color) solid;
}

.copyRight,
.design {
    color: white;
    text-align: center;
    padding: 0.5%;
    text-transform: capitalize;
}

span.coloredWord {
    color: var(--second-text);
}